<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Moja strona!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('css/main.css') }}" rel="stylesheet" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div id="header">
            <img src="{{ asset('images/cityscape.png') }}" onclick="gotoMainPage();">
            <h2>Manifestacje, korki, informacje</h2>
        </div>
        <div id="menu">
        {% block menu %}{% endblock %}
    </div>
    <div id="content">
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ asset('js/events.js') }}"></script>
{% endblock %}
</body>
</html>
