{% extends 'base.html.twig' %}
{% block body %}
    {% if editEvent %}
        <h3>Edycja wydarzenia</h3>
    {% else %}
        <h3>Tworzenie nowego wydarzenia</h3>
    {% endif %}
    {{ form_start(form) }}
    {{ form_widget(form, { 'attr': {'class': 'editEventForm'} }) }}
    {{ form_end(form) }}
{% endblock %}