#main{
    color: red;
}

#menu{
    width: 200px;
    float: left;
    height: 500px;
    background-color: bisque;
}

#header{
    height: 100px;
    width: 100%;
    border-bottom: 3px solid salmon;
}

#header h2{
    text-align: center;
    padding-top: 30px;
}

#content{
    padding: 30px;
    float: left;
}