<div id="userInfo">
    <span>{{user.name}}</span><br>
    <b>{{user.companyName}}</b><br>
</div>
<div id="menuElements">
    <a class="menulink" href="/editUser/{{user.userId}}">Edytuj swoje dane</a><br>
    <a class="menulink" href="">Znajdź dostawce</a><br>
    <a class="menulink" href="/logout/{{user.userId}}">Wyloguj</a><br>
</div>

